include README.rst
include CHANGES.md
include ChangeLog
include COPYING.txt
include FUTURE.rst
include Makefile
include requirements-full.txt
include mathics3_latex/mathics3.pdf
recursive-include mathics3_latex *.py
recursive-include test *.py *.yaml *.m *.wl
